storage: none
source https://api.nuget.org/v3/index.json

framework: net461, netstandard2.0, netcoreapp3.1
nuget FAKE
nuget FParsec
nuget FSharp.Core
nuget Fuchu
nuget Newtonsoft.Json

github gretmn102/LSP-API src/LanguageServerProtocol.fs
git https://github.com/gretmn102/FsharpMyExtension.git

group Build
  source https://api.nuget.org/v3/index.json

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget Microsoft.Build
