storage: none
source https://www.nuget.org/api/v2

framework: >= net461
nuget FAKE
nuget FSharp.Core
nuget Fuchu
nuget FParsec

git https://github.com/gretmn102/FsharpMyExtension.git build:"build.cmd NuGet", Packages: /FsharpMyExtension/FsharpMyExtension/bin/Release/
nuget FsharpMyExt

group Build
  source https://nuget.org/api/v2

  nuget FAKE